@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@egoist/tailwindcss-icons';

@import './rehype-pretty-code.css' layer(utilities);
@config '../../tailwind.config.ts';

@variant dark (&:where(.dark, .dark *));

@theme {
  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  /* max-width */
  --spacing-wide: var(--breakpoint-2xl);
  --spacing-content: var(--breakpoint-xl);

  /* default ring */
  --default-ring-width: 3px;
  --default-ring-color: var(--ring);
}

@layer base {
  :root {
    --background: hsl(0 0% 98%); /* neutral-50 */
    --foreground: hsl(0 0% 3.9%); /* neutral-900 */

    --card: hsl(0 0% 96.1%); /* nuetral-100 */
    --card-foreground: hsl(0 0% 9%); /* nutral-900 */

    --popover: hsl(0 0% 100%); /* white */
    --popover-foreground: hsl(0 0% 3.9%); /* neutral-950 */

    --primary: hsl(0 0% 14.9%); /* nutral-800 */
    --primary-foreground: hsl(0 0% 89.8%); /* nutral-200 */

    --secondary: hsl(0 0% 96.1%); /* neutral-100 */
    --secondary-foreground: hsl(0 0% 9%); /* neutral-900 */

    --muted: hsl(0 0% 63.9%); /* nutral-400 */
    --muted-foreground: hsl(0 0% 45.1%); /* nutral-500 */

    --accent: hsl(47.9 95.8% 53.1%); /* yellow-400 */
    --accent-foreground: hsl(45.4 93.4% 47.5%); /* yellow-500 */

    --destructive: hsl(0 84.2% 60.2%); /* red-500 */
    --destructive-foreground: hsl(0 96.3% 89.4%); /* red-200 */

    --border: hsl(0 0% 89.8%); /* neutral-200 */
    --input: hsl(0 0% 89.8%); /* neutral-200 */
    --ring: hsl(0 0% 3.9%); /* neutral-950 */

    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(0 0% 3.9%); /* neutral-900 */
    --foreground: hsl(0 0% 98%); /* neutral-50 */

    --card: hsl(0 0% 9%); /* nutral-900 */ /* nutral-900 */
    --card-foreground: hsl(0 0% 96.1%); /* nuetral-100 */

    --popover: hsl(0 0% 3.9%); /* neutral-950 */
    --popover-foreground: hsl(0 0% 98%); /* neutral-50 */

    --primary: hsl(0 0% 89.8%); /* nutral-200 */
    --primary-foreground: hsl(0 0% 14.9%); /* nutral-800 */

    --secondary: hsl(0 0% 14.9%); /* neutral-800 */
    --secondary-foreground: hsl(0 0% 98%); /* neutral-50 */

    --muted: hsl(0 0% 45.1%); /* nutral-500 */
    --muted-foreground: hsl(0 0% 63.9%); /* nutral-400 */

    --accent: hsl(45.4 93.4% 47.5%); /* yellow-500 */
    --accent-foreground: hsl(47.9 95.8% 53.1%); /* yellow-400 */

    --destructive: hsl(0 62.8% 30.6%); /* red-900 */
    --destructive-foreground: hsl(0 96.3% 89.4%); /* red-200 */

    --border: hsl(0 0% 14.9%); /* neutral-800 */
    --input: hsl(0 0% 14.9%); /* neutral-800 */
    --ring: hsl(0 0% 83.1%); /* neutral-300 */
  }
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border, currentColor);
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
